p {
  color: #ff6b9d;
  background-color: #fff9e6;
  font-size: 18px;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}

h1 {
	color: #eb844a;
}

a {
	color: #eb844a;
	font-size: 28px;
}

h2 {
	color: #feaf36;
}

h3 {
	color: #f1ab83
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  min-height: 100vh;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.floating-shape {
  position: absolute;
  pointer-events: none;

}

